<div class="product-page clearfix">
  <div class="product-images left">   
     <div class="product-featured-image">
       <a href="{{ product.featured_image.src | product_img_url: 'original' }}">
         <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{product.featured_image.alt | escape }}" />
      </a>
    </div>
    <div class="product-img-list clearfix">
      {% for image in product.images | offset:1 %}
      <div class="product-img left {% cycle '','','last' %}">
        <a href="{{ image.src | product_img_url: 'original' }}">
          <img src="{{ image.src | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" />
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="product-details left">   
    <h2 class="product-title">{{ product.title }}</h2>
    <div class="product-desc rte">{{ product.description }}</div>
    <div class="price-field">
      {% if product.compare_at_price > product.price %}
      <del>{{ product.compare_at_price | money_with_currency }}</del>
      {% endif %}
      <span>{{ product.price | money_with_currency }}</span>
    </div>
    <form action="/cart/add" method="post" class="product-form">
      <ul id="product-details" style="list-style-type:none;">
        {% if product.available %}
          {% if product.variants.size > 1 %}
            <li id="product-variants" class="clearfix">
              <select id="product-select" name="id" class="hidden">
                {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {% endfor %}
              </select>
            </li>
          {% else %}
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
          {% endif %}

          {% if product.variants.size > 1 %}
          <li id="swatches">{% include 'swatches' %}</li>
          {% endif %}
        {% endif %}

        <input type="submit" name="add" value="Purchase" class="btn purchase" />
      </ul><!-- #product-details -->
    </form>
    {% if collection %}
    <div class="product-nav clearflex">
       {% if collection.previous_product %}
	   <div class="left">{{ '&larr; Previous Product' | link_to: collection.previous_product }}</div>
       {% endif %}
       {% if collection.next_product %}
       <div class="right">{{ 'Next Product &rarr;' | link_to: collection.next_product }}</div>
       {% endif %}
     </div>       
     {% endif %}
  </div>
</div>

<script type="text/javascript">

  // <![CDATA[  
var selectCallback = function(variant, selector) {
  if (variant && variant.available == true) {
    // selected a valid variant
    jQuery('.purchase').removeClass('disabled').removeAttr('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
    jQuery('.price-field').html(Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}"));  // update price field
  } else {
    // variant doesn't exist
    jQuery('.purchase').addClass('disabled').attr('disabled', 'disabled');      // set add-to-cart button to unavailable class and disable button
    var message = variant ? "Sold Out" : "Unavailable";    
    jQuery('.price-field').text(message); // update price-field message
  }

  var selectedSize = jQuery('.size.options li.selected span').text();

  if (selectedSize.length > 0) {
    var variants = selector.product.variants;
    var variantTitles = []
    var i;

    for (i = 0; i < variants.length; i++) {
      variantTitles.push(variants[i].title);
    }

    jQuery('.color.options li').each( function() {
      var variantTitle = selectedSize + " / " + jQuery("div", this).text();

      // if variantTitle is a valid variant, remove unavailable class
      if (jQuery.inArray(variantTitle, variantTitles) != -1) {
        jQuery("span", this).removeClass('unavailable');
      }
      // if not a valid variant, add unavailable class
      else {
        jQuery("span", this).addClass('unavailable');
      }
    });
  }
};

// initialize multi selector for product
jQuery(function() {
  new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
  jQuery('.selector-wrapper').addClass('clearfix');
  {% if product.options.size == 1 %}
  jQuery('.selector-wrapper').prepend("<label for='product-select-option-0'>{{ product.options.first }}</label>");
  {% endif %}
});

// BEGIN SWATCHES
jQuery('.swatch li').click(function() {
  var optionValue = jQuery(this).attr('data-option-title'); // what have I just clicked on?
  jQuery(this).parents('.swatch').find('li').removeClass('selected'); // un-select all the buttons
  jQuery(this).addClass('selected'); // select the current one
  jQuery('.single-option-selector:contains(' + optionValue + ')').val(optionValue).trigger('change');
  return false;
});
// END SWATCHES
// ]]>
</script>

